
.navSearchBar{
    flex-basis: 49%;
    align-items: center;
    text-align: center;
        padding: 10px 0;
}
.navSearchBar input{
    width: 18.75rem;
    padding: 0.5rem 2rem;
    outline: none;
    border-radius: 3px;
    border-style: none;
        background-color: #F2F2F2;
    border-radius: 1.313rem;
    width: 22rem;
}
.navSearchBar input:focus{
    border: 1px solid green;
    border-radius: 10px;
}
.menu {
    flex-basis: 49%;
    justify-content: end;
    text-align: center;
}